.amenities {
    display: flex;
    width: 100%;
    margin-top: 3em;
}

.amenities-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-family: 'gravitation', sans-serif;
    text-shadow: 5px 5px black;
    color: #E3E3E3; 
    /*background-color: #916150; */
}


.amenity {
    width: 25%;
    text-align: center;
    margin: 0 1em;
}

.amenity-icon {
    font-size: 6rem;
    color: #EEB08C;
    margin: 0.5em 0.5em;

}
.amenity-header {
    font-family: 'JoeFont', sans-serif;
    margin: 0;
    color: lightgray;
    font-size: 2rem;
    font-weight: 700;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}
.amenity-desc {
    font-family: 'JoeFont', sans-serif;
    margin-top: 1em;
    color: lightgray;
    font-size: 1rem;
    font-weight: 700;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}


@media only screen and (max-width: 768px) {
    .amenities-header {
        font-size: 4rem;
    }

    .amenities {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .amenity {
        padding: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .amenity-icon {
        margin: auto;
    }
}

/* Phones */

@media only screen and (max-width: 600px) {
    .amenities-header {
        font-size: 1.5rem;
    }

    .amenities {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
    }

    .amenity {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        width: 100%;
        align-items: center;
    }

}