.amenities {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-content: space-between;
}

.amenities-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    font-size: 4.5rem;    
    letter-spacing: 0.5rem;
    font-family: 'gravitation', sans-serif;
    text-shadow: 4px 4px black;
    color: #E3E3E3; 
    /*background-color: #916150; */

}

.amenities-header h1 {
    font-weight: lighter;
}

.amenity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    min-height: 330px;
    padding: 1em;
    text-align: center;

    background: url(../assets/Paper-Texture-Seamless.jpg); 
    background-size: cover;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0, 0.5);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0, 0.5);
}

.amenity-icon {
    font-size: 4rem;
    color: black;
    margin: 0.5em auto;
    width: 95%;
}

.amenity-header {
    font-family: 'gravitation', sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: lighter;
    text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.amenity-desc {
    font-family: 'Cabin', sans-serif;
    margin-top: 1.3em;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .amenities-header {
        font-size: 3rem;
    }

    .amenities {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .amenity {
        padding: 1em;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .amenity-icon {
        font-size: 6rem;
        margin: auto;
    }
}

/* Phones */

@media only screen and (max-width: 600px) {
    .amenities-header {
        font-size: 1.5rem;
    }

    .amenities {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
    }

    .amenity {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        width: 100%;
        align-items: center;
    }

}