.featured-header {
    width: 100%;    
    height: 300px;
    background-image: url(../assets/featuredHeaderBg.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-header h1 {
    font-size: 8rem;
    font-weight: lighter;
    font-family: 'gravitation', sans-serif;
    text-shadow: 5px 5px black;
    color: #E3E3E3;
}

.featured-rooms {
    padding: 5rem 0;
}

.featured-rooms-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

/* Tablets */
@media only screen and (max-width: 768px) {
    .featured-header h1 {
        font-size: 5rem;
    }
    .featured-rooms {
        padding: 3rem 0;
    }
    .featured-rooms-center {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
    }
}
/* Phones */
@media only screen and (max-width: 600px) {
    .featured-header h1 {
        font-size: 3rem;
    }


}
