footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    padding: 1em;
    margin-top: 2em;
}

footer h3 {
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5rem;
}

footer address {
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    margin-top: 0.5em;
    text-align: justify;
    font-size: 1rem;
    font-weight: bolder;
}

.email {
    text-decoration: none;
    color: #ffffff;
}

.email:hover {
    text-decoration: none;
    color: #ff9100;
}

.find-us {
    font-size: 3rem;
    padding: 0.2em;
}

.icon {
    cursor: pointer;
    color: #ffffff;
    padding: 0.3em;
}

/* Tablets */

@media only screen and (max-width: 768px) {
    footer p {
        font-size: 1em;
    }
}

/* Phones */

@media only screen and (max-width: 600px) {
    
    footer {
        grid-template-columns: repeat(1, auto);
    }
    .footer-section {
        margin-top: 1em;
    }
}