/* Navbar i header*/
.header {
    display: flex;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    justify-content: flex-end;
    align-content: center;
}

.navbar {
    height: 202px;
    width: 408px;
    max-width: 80%;
    margin-right: 6rem;
    background-image: url(../assets/navNote.png);    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    margin-top: 1rem;  
}

.nav-item {    
    display: inline;
    margin: 0 0.8rem;
    font-size: 3.5rem;
    border: 0.3rem solid transparent;    
    color: #3D1D0A;
    font-family: 'OldPress', sans-serif;    
}

.nav-item:hover {
    border-image: url(../assets/circle.png) 20%;
    cursor: pointer;
    text-shadow: 5px 5px rgb(185, 185, 185);
}

/* Tablets */

@media only screen and (max-width: 768px) {
    .navbar {
        margin: auto;
    }
}

/* Phones */

@media only screen and (max-width: 600px) {
    .navbar {
        max-width: 70%;
        height: 20vh;
    }

    .nav-item {
        margin: auto 0.1em;
        font-size: 2.5rem;
    }    
}