/* Costum fonts import*/
@font-face {
    font-family: 'OldPress';
    src: url('assets/fonts/Old\ Press.ttf');
}

@font-face {
    font-family: 'JoeFont';
    src: url('assets/fonts/Joe\ Font.ttf');
}

@font-face {
    font-family: 'gravitation';
    src: url('assets/fonts/gravitation_falls.ttf');
}

/* Testowe fonty*/

@font-face {
    font-family: 'Trocchi';
    src: url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
}


/* General Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 100%;
    background-color: #38251F;
    background-image: url(assets/Planks1.jpg);
}

/* Links */
a:visited { text-decoration: none; color: black;  }
a:hover { text-decoration: none; }
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none;}
/* Container */

.container { 
    max-width: 1024px;
    width: 95%;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}



