/* Costum fonts import*/
@font-face {
    font-family: 'OldPress';
    src: url('assets/fonts/Old\ Press.ttf');
}

@font-face {
    font-family: 'JoeFont';
    src: url('assets/fonts/Joe\ Font.ttf');
}

@font-face {
    font-family: 'gravitation';
    src: url('assets/fonts/gravitation_falls.ttf');
}

/* General Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 100%;
    background-color: #38251F;
}

/* Container */

.container { 
    max-width: 960px;
    width: 95%;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}



